body {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  margin: 0 0;
  padding: 0 0 0 0;
}

.app-wrapper {
  width: 100vw;
}

.app-wrapper > div {
  background: #dec1fa;
  text-align: center;
  padding: 0 0;
}
